{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fifty shades of bic.</title>
    <style>
        td,th {
          width: 80px;
          height: 40px;
        }
    </style>
</head>
<body>
    <h1>Fifty shades of bic.</h1>
    <table>
        <tr>
            <th>Noir</th>
            <th>Rouge</th>
            <th>Bleu</th>
            <th>Vert</th>
        </tr>
        {% for i in range %}
        <tr>
            {% for color in colors %}
                <td style="background-color: {{ hex_colors|get_item:color|get_list_item:i }}"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>