{% extends "base.html" %}
{% load static %}




{% block content %}
{% if user.is_authenticated %}
    <form
      style="display: inline-flex; align-self: center"
      action="{% url 'article-detail' pk=object.id %}"
      method="post"
      class="form"
    >
    {% csrf_token %}
    {{ favouriteForm.as_p }}
    <input type="submit" value="Favoris" />
    </form>
    {% endif %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<p>{{ object.title }}</p>
<p>{{ object.author }}</p>
<p>{{ object.created }}</p>
<p>{{ object.synopsis }}</p>
<p>{{ object.content }}</p>
{% endblock %}